/* -----------------
    MAIN-CHAT
----------------- */
.main-chat {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.col-messages {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    padding: 3.125rem 5.625rem;
    cursor: default;
}
#welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to left bottom, #030b16, #212041, #5b265f, #9f1c63, #da1d4b);
    color: white;
    font-size: 3.125rem;
    z-index: 999;
    transition: top 0.4s ease-out;
}
.hidden {
    top: -100% !important;
}
.sent, .received {
    position: relative;
    font-size: .875rem;
    margin-bottom: .625rem;
    max-width: 18.75rem;
    padding: 1.25rem;
    border-radius: .9375rem;
}
.received {
    position: relative;
    background-color: var(--lighter-color);
    align-self: flex-start;
}
.received::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 30px;
    height: 20px;
    background-image: linear-gradient(to left bottom, var(--lighter-color) 50%, transparent 50%);
    border-radius: .5rem;
}
.sent {
    position: relative;
    background-color: var(--color-sent);
    align-self: flex-end;
}
.sent::after {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 30px;
    height: 20px;
    background-image: linear-gradient(to right bottom, var(--color-sent) 50%, transparent 50%);
    border-radius: .5rem;

}
.col-messages small {
    color: var(--main-color-strong);
    position: absolute;
    bottom: .125rem;
    right: .3125rem;
}
.col-text {
    display: flex;
    align-items: center;
    height: 4.375rem;
    background-color: var(--main-color-normal);
    z-index: 100;
}
.main-chat .test-chuck {
    position: absolute;
    text-align: center;
    color: var(--stronger-color);
    left: .3125rem;
    bottom: 4.3125rem;
    padding: .3125rem .625rem;
    border-radius: .625rem .625rem 0 0;
    width: auto;
    background-color: var(--banner-color);
    cursor: pointer;
    box-shadow: .125rem -0.0625rem .125rem 0 var(--stronger-color);
    transition: transform 0.4s ease-out;
}
.chat-active {
    transform: scale(0.9) translateY(.125rem);
    background-color: var(--banner-active-color) !important;
    font-weight: bold;
}
.smile, .microphone {
    text-align: center;
    font-size: 1.375rem;
    width: 15%;
}
.icon-active {
    font-weight: bold;
    color: blue;
}
.smile a, .microphone a {
    color: var(--icon-color);
}
.chat-text {
    flex-grow: 1;
    height: 100%;
    padding: .625rem 0;
}
.chat-text input {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    border-radius: .3125rem;
    border: .0625rem solid var(--main-color-strong);
}
#emoji {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translate(-50%);
    width: 15rem;
    height: 0;
    background-color: var(--main-color-light);
    border-radius: .9375rem;
    overflow-y: auto;
    transition: height 0.3s ease-out;
}
.show-emoji {
    height: 11.25rem !important;
}
#emoji .emoticon {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.75rem;
    width: 25%;
    height: calc(100% / 3);
    cursor: pointer;
}