/* -----------------
    RESET
----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------------
    COMMONS
----------------- */
body {
    padding: 1.5625rem 0;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 0,#009688 20vh,#d6dbd8 20vh,#d6dbd8 100vh);
}
#app {
    height: 100%;
    max-width: 87.5rem;
    margin: auto;
}

/* -----------------
    HEADER
----------------- */
header {
    height: 4.375rem;
    background-color: #dadbd5;
}

/* -----------------
MAIN
----------------- */
main {
    display: flex;
    height: calc(100% - 4.375rem);
}

/* -----------------
    ASIDE
----------------- */
aside {
    width: 35%;
    background-color: aqua;
}

/* -----------------
    MAIN-CHAT
----------------- */
.main-chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.col-messages {
    flex-grow: 1;
    background-color: #960057;

}
.col-text {
    height: 4.375rem;
    background-color: bisque;
}